@import 'variables'; //estamos  llamando  al  archivo  con las  variables.
@import 'mixin';

.botton-amarillo{
	background-color: $amarillo-botones;
}

.texto-letra{
	color: $gris-letra-soft;
}

.carousel{
	height:900px !important;
}

.carousel-slider .indicators .indicator-item.active{
	background-color:$rojo-bullet;
}
.carousel-slider .indicators .indicator-item{
	background-color:rgba(246,68,81,0.29);
}
#body-registo{
	background-color: $amarillo-botones;
}
.img-center{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
	height: 100vh;
	
}
.text-morado{
	color: $morado-entrada-numero;
	font-weight: 800;
}