@import 'variables'; //estamos  llamando  al  archivo  con las  variables.
@import 'mixin';

.botton-amarillo{
	background-color: $amarillo-botones;
}

.carousel{
	height:900px !important;
}

.carousel-slider .indicators .indicator-item.active{
	background-color:$rojo-bullet;
}
.carousel-slider .indicators .indicator-item{
	background-color:rgba(246,68,81,0.29);
}

.texto-letra{
	color: $gris-letra-soft;
}
.texto-letra--turquesa{
	color: $turquesa-condiciones;
}
.texto-letra--blanco{
	color: white;
}
.text-morado{
	color: $morado-entrada-numero;
	font-weight: 800;
}


#body-registo{
	background-color: $amarillo-botones;
}
#body-morado{
	background-color: $morado-dark;
}
#body-morado--claro{
	background-color: $morado-light;
}
.img-center{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
	height: 100vh;
	
}

.border-blanco{
	border-bottom:.5px solid white;
}
.pading-cero{
	padding:0 !important;	
}