@import 'variables'; //estamos  llamando  al  archivo  con las  variables.
@import 'mixin';

.botton-amarillo{
	background-color: $amarillo-botones;
}

.texto-letra{
	color: $gris-letra-soft;
}
.icons-img{
	width: 
		15%;
}
.carousel{
	height:900px !important;
}

.carousel-slider .indicators .indicator-item.active{
	background-color:$rojo-bullet;
}
.carousel-slider .indicators .indicator-item{
	background-color:rgba(246,68,81,0.29);
}

